*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/helveticaneuecyr-bold.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/helveticaneuecyr-bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold') format('svg');
  /* Chrome < 4, Legacy iOS */
}

:root{
  --main-font: 'HelveticaNeueCyr-Bold';
  --dark-theme-color: #FFFFFF;
  --light-theme-color: #1E3C72;
  --subtitle-light-theme-color: #375D9F;
  --subtitle-dark-theme-color: rgba(255, 255, 255, 0.9);
  --text-color:#2A5298;
  --input-color:#747474;
  --footer-button-color:#202020;
}
body {
  font-family: var(--main-font);
  font-style: normal; 
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

img{
  display: block;
}

.container{
  width: 1440px;
  margin: 0 auto;
}

  /* --Header-- */
.header{
  position: absolute;
  padding: 20px 0;
}
.header .container{
  padding: 0 167px;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navigation-list-item:not(:last-child){
  margin-right: 40px;
}

.navigation-list{
  display: flex;
}

.navigation-list-link{
font-weight: 400;
font-size: 16px;
line-height: 1.313;
letter-spacing: 0.03em;
color: var(--dark-theme-color);
}
  /* --Header end-- */
    /* --Hero-- */


.hero .container{
  display: flex;
  background-image:
  url(../img/bg.png);
  background-repeat:no-repeat;
  background-size:cover; 
}


.hero-left-side{
  padding-top: 285px;
  padding-bottom: 225px;
  padding-right: 32px;
  padding-left: 112px;
}

.hero-title{
  font-weight: 900;
  font-size: 62px;
  line-height: 1.242;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
  padding-bottom: 25px;
}

.subtitle{
font-weight: 400;
font-size: 18px;
line-height: 1.777;
letter-spacing: 0.05em;
color: var(--subtitle-dark-theme-color);
padding-bottom: 64px;
}

.hero-links{
  display: flex;
}

.hero-button{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  padding: 15px;
  width: 160px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #FFFFFF;
}

.button-light-theme {
color: var(--light-theme-color);
background: var(--dark-theme-color);
}

.hero-links-item{
padding-right: 12px;
}

.button-dark-theme {
color: var(--dark-theme-color);
background-color: transparent;
}

.hero-right-side-list{
  display: flex;
}

.first-card {
  width: 329px;
  height: 575px;
  background: #FFFFFF;
  box-shadow: 3px 3px 38px 9px #192E55;
  border-radius: 8px;
  margin-right: 46px;
  margin-top: 178px;
  padding: 12px 13px;
}

.first-card-img {
  padding-bottom: 15px;
}

.first-card-title{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.313;
  letter-spacing: 0.03em;
  color: var(--input-color);
  padding-bottom: 8px;
}

.first-card-description{
  font-weight: 550;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  color: var(--footer-button-color);

}

.second-card{
  width: 244px;
  height: 427px;
  background: #FFFFFF;
  box-shadow: 3px 3px 38px 9px #192E55;
  border-radius: 8px;
  margin-top: 236px;
  padding-top: 6px;
  padding-left: 5px;
}

.second-card-img {
  padding-bottom: 4px;
}

.second-card-title{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.03em;
  color: var(--input-color);
  padding-bottom: 5px;
}

.second-card-description{
  font-weight: 550;
  font-size: 16px;
  line-height: 1.313;
  letter-spacing: 0.03em;
  color: var(--footer-button-color);
}

    /* --Hero end-- */
        /* --About-- */


.about .container{
  padding-top: 95px;
  padding-bottom: 108px;
  padding-left: 260px;
  padding-right: 260px;
  background: #E5E5E5;
}

.about-box{
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 167px;
  padding-right: 98px;
  background: #FFFFFF;
}

.about-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.333;
  color: var(--light-theme-color);
  margin-bottom: 16px;
}

.about-description{
  font-weight: 550;
  font-size: 18px;
  color: var(--light-theme-color);
  margin-bottom: 22px;
}
.about-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.643;
  color: var(--text-color);
}
        /* --About end-- */
        /* --Robots-- */

.robots .container{
padding-top: 54px;
padding-bottom: 80px;
padding-left: 166px;
padding-right: 166px;
background-image: url(../img/bg-robots.jpg);
}

 .robots-title{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.667;
   text-transform: uppercase;
   color: var(--dark-theme-color);
   text-align: center;
   padding-bottom: 151px;
 }

 .robots-description{
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 20px;
  line-height: 1.65;
  color: var(--dark-theme-color);
  text-align: center;
  padding-bottom: 34px;
}

.robots-description::after,
.robots-description::before{
  display: inline-block;
  content: "";
  width: 475px;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.5);
  ;
}

.robots-description::before{
  margin-right: 50px;
}

.robots-description::after{
  margin-left: 50px;
}


.robots-button{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 1.667;
  text-transform: uppercase;
  color: var(--dark-theme-color);
  text-align: center;
  padding: 11px 74px;
  width: 447px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
}


         /* --Robots end-- */
         /* --Choose-- */
.choose .container{
  padding-top: 75px;
  padding-bottom: 10px;
  padding-left: 165px;
  padding-right: 165px;
}


.choose-title{
font-weight: 900;
font-size: 48px;
line-height: 1.333;
color: var(--light-theme-color);
text-align: center;
padding-bottom: 58px;
}


.choose-list{
height: 143px;
background-image: url(../img/scroll.png);
margin: 0 auto;
}

.cost{
background-image: url(../img/scroll-2.png);
}
.choose-img{
  border-radius: 50%;
}

          /* --Choose end-- */
          /* --character-player-4-- */

.character-fourth-player .container{
  background-color: #F7F7F7;
  background-image: url(../img/bg-player-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.character-fourth-player .container,
.character-fifth-player .container,
.character-sixth-player .container {
  display: flex;
  
}

.character-fourth-player-right-side,
.character-fourth-player-left-side,
.character-fifth-player-right-side,
.character-fifth-player-left-side,
.character-sixth-player-right-side,
.character-sixth-player-left-side {
  width: 50%;
}

.character-fourth-player-right-side,
.character-fifth-player-left-side {
  padding-top: 48px;
  padding-left: 100px;
  padding-right: 216px;
}

.character-fifth-player-left-side {
  padding-right: 100px;
  padding-left: 216px;
}


.character-fourth-player-title,
.character-fifth-player-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: var(--light-theme-color);
  padding-bottom: 4px;
}

.character-fourth-player-description,
.character-fifth-player-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.333;
  color: var(--light-theme-color);
  padding-bottom: 10px;
}

.character-fourth-player-text,
.character-fifth-player-text {
font-weight: 400;
font-size: 14px;
line-height: 1.714;
color: var(--subtitle-light-theme-color);
}

.character-fourth-player-left-side,
.character-fifth-player-right-side,
.character-sixth-player-left-side {
display: flex;
align-items: center;
justify-content: center;
}

.character-fourth-player-left-side{
  height: 431px;
  background-image:
  url('../img/player-4.png');
  background-repeat: no-repeat;
  background-position: center;
}
          /* --character-player-4 end-- */

          /* --character-player-5-- */
.character-fifth-player .container{
  background-color: #F7F7F7;
  background-image: url(../img/bg-player-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.character-fifth-player-right-side{
  height: 522px;
  background-image:
  url('../img/player-5.png');
  background-repeat: no-repeat;
  background-position: center;

}

          /* --character-player-5 end-- */
          /* --character-player-6-- */

.character-sixth-player .container {
  padding: 92px 0;
}

.character-sixth-player-left-side {
  height: 590px;
  background-image:
    url('../img/player-6.png');
  background-repeat: no-repeat;
  background-position: center;
}


.character-sixth-player-right-side {
  padding-top: 106px;
  padding-left: 74px;
  padding-right: 236px;
}

.character-sixth-player-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.333;
  color: var(--light-theme-color);
  padding-bottom: 9px;
}

.character-sixth-player-description {
font-weight: 400;
font-size: 20px;
line-height: 1.35;
color: var(--light-theme-color);
padding-bottom: 18px;
}

.character-sixth-player-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--subtitle-light-theme-color);
}


          /* --character-player-6 end-- */

          /* --get-- */

.get .container{
  padding-top: 74px;
  padding-bottom: 92px;
}
.get-title{
  font-weight: 900;
  font-size: 36px;
  line-height: 1.333;
  color: var(--light-theme-color);
  text-align: center;
  margin-bottom: 28px;
}

.get-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--subtitle-light-theme-color);
  text-align: center;
  margin-bottom: 61px;
}

.get-list{
  display: flex;
  justify-content: center;
}


.get-list-item:not(:last-child){
  padding-right: 10px;
}

.get-button{
  width: 274px;
  height: 61px;
  border-radius: 100px;
}

.get-button-img-chat{
  background-image: url(../img/button-1.png);
}

.get-button-img-read{
  background-image: url(../img/button-2.png);
}

.get-button-img-join {
  background-image: url(../img/button-3.png);
}

.get-button-img-explore {
  background-image: url(../img/button-4.png);
}

          /* --get end-- */
          /* --footer-- */

.footer .container{
  padding-top: 67px;
  padding-bottom: 89px;
  background-image: url(../img/bg-footer.jpg);
}

.footer-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.667;
  text-transform: uppercase;
  color: var(--dark-theme-color);
  text-align: center;
  margin-bottom: 14px;
}

.footer-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--dark-theme-color);
  text-align: center;
  margin-bottom: 60px;
}

.footer-input{
  font-family: var(--main-font);
  font-style: normal;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.688;
  color: var(--input-color);
  display: block;
  background: #FFFFFF;
  box-shadow: 3px 3px 30px -2px rgba(80, 66, 92, 0.6);
  border-radius: 100px;
  padding-left: 35px;
}

.input-wrapper{
  position: relative;
  width: 540px;
  height: 62px;
  margin: 0 auto;
}

.footer-button{
  font-family: var(--main-font);
  font-style: normal;
  width: 206px;
  height: 54px;
  font-weight: 550;
  font-size: 16px;
  line-height: 1.688;
  color:var(--footer-button-color);
  background: linear-gradient(90deg, #4152A1 0%, #C251CB 100%);
  border-radius: 100px;
  padding: 13px 65px;
  position: absolute;
  top: 4px;
  right: 4px;
}



          /* --footer end-- */
